{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Discover AO3 tags!
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Discover AO3 tags!</h1>
      <p class="lead">This service was created to let you discover AO3 statistics & more about any two tags provided.</p>
      <h1 class="pt-5 pb-2">How it works</h1>
      <p class="lead">Enter any two tags you want to combine and submit the form.
          You'll get the tags statistics from AO3, two images assosciated with the tags and
          you'll be able to find out more about the fandom those tags belong to.</p>

      {{ wtf.quick_form(form) }}

    </div>
  </div>
</div>

{% endblock %}